<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.raven.drivenotext"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.raven.drivenotext.activities.HomeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.raven.drivenotext.activities.SetMessageActivity"
            android:label="@string/title_activity_set_message"
            android:parentActivityName="com.raven.drivenotext.activities.HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.raven.drivenotext.HomeActivity" />
        </activity>
        <activity
            android:name="com.raven.drivenotext.activities.ViewMessageActivity"
            android:label="@string/title_activity_view_message"
            android:parentActivityName="com.raven.drivenotext.activities.HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.raven.drivenotext.HomeActivity" />
        </activity>
        <activity
            android:name="com.raven.drivenotext.activities.SendMessageActivity"
            android:label="@string/title_activity_send_message"
            android:parentActivityName="com.raven.drivenotext.activities.HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.raven.drivenotext.HomeActivity" />
        </activity>

        <receiver android:name="com.raven.drivenotext.helpers.SmsInterceptor" >
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.raven.drivenotext.activities.MissedMessagesActivity"
            android:label="@string/title_activity_missed_messages"
            android:parentActivityName="com.raven.drivenotext.activities.HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.raven.drivenotext.activities.HomeActivity" />
        </activity>
    </application>

</manifest>